html {
  font-size: 14px;
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}
html, body {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  height: auto;
  line-height: 1.571429;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  min-height: 100vh;
  >.container {
    flex: 1;
  }
  footer {
    flex: 0;
  }
}


/*自定义animation-动画*/
.animation-slide-top10{-webkit-animation-name:slide-top10;animation-name:slide-top10}
@-webkit-keyframes slide-top10{
    0%{opacity:0;-webkit-transform:translate3d(0,-10%,0);transform:translate3d(0,-10%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-top10{
    0%{opacity:0;-webkit-transform:translate3d(0,-10%,0);transform:translate3d(0,-10%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-bottom10{-webkit-animation-name:slide-bottom10;animation-name:slide-bottom10}
@-webkit-keyframes slide-bottom10{
    0%{opacity:0;-webkit-transform:translate3d(0,10%,0);transform:translate3d(0,10%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-bottom10{
    0%{opacity:0;-webkit-transform:translate3d(0,10%,0);transform:translate3d(0,10%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-left10{-webkit-animation-name:slide-left10;animation-name:slide-left10}
@-webkit-keyframes slide-left10{
    0%{opacity:0;-webkit-transform:translate3d(-10%,0,0);transform:translate3d(-10%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-left10{
    0%{opacity:0;-webkit-transform:translate3d(-10%,0,0);transform:translate3d(-10%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-right10{-webkit-animation-name:slide-right10;animation-name:slide-right10}
@-webkit-keyframes slide-right10{
    0%{opacity:0;-webkit-transform:translate3d(10%,0,0);transform:translate3d(10%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-right10{
    0%{opacity:0;-webkit-transform:translate3d(10%,0,0);transform:translate3d(10%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-top50{-webkit-animation-name:slide-top50;animation-name:slide-top50}
@-webkit-keyframes slide-top50{
    0%{opacity:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-top50{
    0%{opacity:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-bottom50{-webkit-animation-name:slide-bottom50;animation-name:slide-bottom50}
@-webkit-keyframes slide-bottom50{
    0%{opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-bottom50{
    0%{opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-left50{-webkit-animation-name:slide-left50;animation-name:slide-left50}
@-webkit-keyframes slide-left50{
    0%{opacity:0;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-left50{
    0%{opacity:0;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-right50{-webkit-animation-name:slide-right50;animation-name:slide-right50}
@-webkit-keyframes slide-right50{
    0%{opacity:0;-webkit-transform:translate3d(50%,0,0);transform:translate3d(50%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-right50{
    0%{opacity:0;-webkit-transform:translate3d(50%,0,0);transform:translate3d(50%,0,0)}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}