$titleColor: #000;
$subColor: #999;

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

main {
  display: block;
}

a {
  color: $subColor;  
  &:hover {
    color: $subColor;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
}

/*初始化*/
html,
body{width:100%;max-width:100%;min-width:320px;height:auto}
body{min-height:100%;overflow-x:hidden;color:#2a333c}
a:focus{outline:none}
.decorationnone,
.dropdown-item:active,
a:active,
.decorationnone:active,
.dropdown-item:focus,
a:focus,
.decorationnone:focus,
.dropdown-item:hover,
a:hover,
.decorationnone:hover{text-decoration:none}
a:hover{color:#4e97d9}
b,
strong{font-weight:bold}
h4,
h5,
h6{text-shadow:none}
/*延迟加载背景图片*/
img.imgloading:not([src*="base64"]),
img.slick-loading:not([src*="base64"]){object-fit:scale-down;background:#fff}